* {
  margin: 0rem;
  padding: 0rem;
}
/* body here */
body {
  max-width: 90rem;
  width: 100%;
  background: #f5f8ff;
  margin: 0rem auto;
}

/* header here*/
header {
  width: 85%;
  margin: 0rem auto;
}

/* nav here */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0rem 7.5rem 0rem;
}

.navUl {
  display: flex;
  gap: 3rem;
}

.onlyNavLinks {
  display: flex;
  gap: 3rem;
}
.onlyNavLinks > li {
  list-style: none;
}
.onlyNavLinks > li > a {
  text-decoration: none;
  color: #8987a1;

  /* Text/Medium/Regular */
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

.onlyNavLinks > li > a:hover {
  font-weight: 700;
  color: black;
}

.cart > li {
  list-style: none;
}
.cart > li > a {
  text-decoration: none;
  color: black;

  /* Text/Medium/Regular */
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

/* banner here */

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-title-text > h1 {
  color: #000;
  font-family: "Noto Serif";
  font-size: clamp(1rem, 0.6rem + 4vw, 3.2rem);
  font-weight: 700;
}

.banner-title-text-color,
.orange {
  color: #e95a08;
}

.banner-subtitle-text {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: clamp(0.3rem, 0.2rem + 4vw, 1.3rem);
  font-weight: 400;
}

/* main here */
main {
  width: 85%;
  margin: 4rem auto;
}

/* ourPlantsSection */

.ourPlantsSection {
  margin: 3rem auto 13rem auto;
}

/* ourPlantsTexts */
.ourPlantsTexts {
  text-align: center;
}

/* ourPlantsTitleText */
.ourPlantsTitleText > h1 {
  color: #000;
  font-family: "Noto Serif";
  font-size: clamp(1rem, 0.6rem + 4vw, 3.2rem);
  font-weight: 700;
}

.ourPlantsSubTitleText {
  margin: 1rem auto 3rem auto;
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: clamp(0.3rem, 0.2rem + 4vw, 1.3rem);
  font-weight: 400;
}

/* ourPlantsCardContainer */
.ourPlantsCardContainer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1.25rem;
}

.card {
  display: inline-block;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 5px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* cardImg */
.cardImg > img {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
}

/* cardTexts */
.cardTexts {
  margin: 1rem auto;
}

/* cardName */

.cardName > h1 {
  color: #111;
  font-family: Inter;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 150%; /* 2.0625rem */
  margin-bottom: 0.5rem;
}

/* cardPrice */
.cardPrice > p {
  color: #111;
  font-family: Inter;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 2.0625rem */
}

/* card add to cart btn */
.addToCartBtn {
  width: 100%;
}

.addToCartBtn > button {
  width: 100%;
  height: auto;
  padding: 1rem 0rem;
  background: #e95a08;
  border: none;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 0% 0% 5% 5px;
  cursor: pointer;
}
.addToCartBtn > button:hover {
  box-shadow: 0 14px 28px #e95a084e, 0 10px 10px #e95a08ab;
}
.addToCartBtn > button > p {
  color: #fff;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* trustedContainer */
.trustedContainer {
  display: flex;
  /* gap: 3.75rem; */
  justify-content: space-between;
  align-items: center;
}

/* trustedMainImg */
.trustedMainImg {
  max-width: 100%;
}

.trustedMainImg > img {
  width: 100%;
  height: auto;
  display: block;
}

/* trustedStampImg */
.trustedImages {
  position: relative;
  display: inline-block;
}
.trustedStampImg > img {
  position: absolute;
  display: block;
  max-width: 100%;
  width: 55%;
  height: auto;
  top: -22%;
  right: -22%;
  filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.493));
}

/* trustedTexts */
.trustedTexts {
  max-width: 45%;
}

/* trustedTextTitle */
.trustedTextTitle > h1 {
  color: #000;
  font-family: "Noto Serif";
  font-size: clamp(1rem, 0.6rem + 4vw, 3.2rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* width: 100%; */
  margin-bottom: 1rem;
}

/* trustedTextSubTitleList */

.trustedTextSubTitleList > ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  padding-left: 2rem;
}
.trustedTextSubTitleList > ul > li {
  font-size: clamp(0.3rem, 0.2rem + 4vw, 1.3rem);
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-weight: 400;
  /* text-align: center; */
}

/* latestDealsSection */
.latestDealsSection {
  margin: 8rem auto;
}

/* .latest deals image container */

.img1 {
  grid-area: img1;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("assets/deal-bloom.png") lightgray 0px -78.437px / 115.538% 137.075% no-repeat;
  height: 13.5rem;
  width: auto;
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.img2 {
  grid-area: img2;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("assets/deal-ana.png") lightgray 0px -78.437px / 115.538% 137.075% no-repeat;
  height: 13.5rem;
  width: auto;
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.img3 {
  grid-area: img3;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("assets/deal-zabo.png") lightgray 0px -78.437px / 115.538% 137.075% no-repeat;
  height: 28rem;
  width: auto;
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.latestDealsImgContainer {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "img1 img3 img3 img3"
    "img2 img3 img3 img3";
  align-items: center;
}

/* imgContent */

.imgContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  gap: 0.8rem;
  color: #fff;
  font-family: "Noto Serif";
  font-weight: 700;
}
.imgContentSame > h1 {
  font-size: 1.25rem;
}
.imgContentSame > p {
  font-size: 1rem;
}

.imgContentSameBig > h1 {
  font-size: clamp(1.25rem, 0.4rem + 4vw, 2.5rem);
}
.imgContentSameBig > p {
  font-size: clamp(1rem, 0.2rem + 4vw, 1.6rem);
}
/* footer section */

/* emailContainer */
.emailContainer {
  background: url("assets/./news-letter-bg.png");
  height: 28rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  justify-content: center;
}

.emailContainer > h1 {
  color: #fff;
  text-align: center;
  font-family: "Noto Serif";
  font-size: clamp(1rem, 0.6rem + 4vw, 3.2rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btnAndInput {
  display: flex;
  text-align: center;
  margin: 0rem auto;
  /* justify-content: center; */
  align-items: center;
}

.btnAndInput > input {
  display: flex;
  width: 40rem;
  height: 2rem;
  padding: 0.5rem 1.25rem;
  align-items: center;
  gap: 0.625rem;
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.btnAndInput > button {
  display: flex;
  width: auto;
  height: 3rem;
  padding: 0.5rem 1.25rem;
  align-items: center;
  gap: 0.625rem;
  border: none;
  outline: none;
  background: #e95a08;
  color: #fff;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

/* lastFooterElementsSection */

.lastFooterElementsSection {
  margin: 3rem auto;
  max-width: 90rem;
}

/* .elementContainer */
.elementContainer {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: 85%;
  margin: 0rem auto;
}

.imgAndText {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.lastLogo {
  max-width: 100%;
}
.lastLogo > image {
  width: 100%;
}
.imgAndText > p {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 22.4375rem;
}

/* .firstLinkSection, .secondLinkSection */
.firstLinkSection,
.secondLinkSection {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.firstLinkSection > a,
.secondLinkSection > a {
  text-decoration: none;
  color: #6b7280;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

/* socialIcons */
.socialIcons {
  display: flex;
  gap: 0.4rem;
  font-size: 2rem;
}

/* ---------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

/* small device */
@media screen and (max-width: 576px) {
  /* body here */
  body {
    width: 95%;
    padding: 1%;
  }

  /* header here */
  header {
    width: 100%;
    margin: 0rem auto;
  }
  /* nav here */
  nav {
    margin: 0.8rem 0rem 1.75rem 0rem;
  }

  .logo > img {
    max-width: 100%;
    width: 55%;
    height: auto;
    display: block;
  }

  .onlyNavLinks {
    display: none;
  }

  /* banner here */

  .banner-container {
    flex-direction: column-reverse;
    gap: 2rem;
    align-items: start;
  }

  .banner-img {
    max-width: 100%;
  }
  .banner-img > img {
    width: 100%;
    height: auto;
    display: block;
  }

  /* main here */
  main {
    width: 100%;
    margin: 2rem auto;
  }

  /* ourPlantsCardContainer */
  .ourPlantsCardContainer {
    transform: scale(1);
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
  }

  /* trustedContainer */
  .trustedContainer {
    display: flex;
    gap: 3.75rem;
    flex-direction: column;
  }

  /* trustedStampImg */
  /* .trustedImages {
    position: relative;
    display: inline-block;
  } */
  .trustedStampImg > img {
    display: none;
  }

  /* trustedTexts */
  .trustedTexts {
    max-width: 100%;
  }

  /* .latestDealsImgContainer */

  .latestDealsImgContainer {
    display: grid;
    gap: 0.5rem;
    grid-template-areas:
      "img1 img1 img1 img1"
      "img2 img2 img2 img2"
      "img3 img3 img3 img3";
  }

  .img2 {
    border-radius: 0;
  }

  /* .img3 */

  .img3 {
    height: 13.5rem;
  }

  /* emailContainer */

  .emailContainer {
    height: 14rem;
    /* width: 80%; */
    /* margin: 0 auto; */
  }
  .emailContainer {
    gap: 0.5rem;
  }

  .btnAndInput > input {
    width: 14rem;
    height: 1rem;
    font-size: 0.6rem;
    font-weight: 400;
  }
  .btnAndInput > button {
    height: 2rem;
    font-size: 0.6rem;
    font-weight: 400;
  }

  /* .elementContainer */
  .elementContainer {
    flex-direction: column;

    gap: 1.5rem;
  }
}
